@use './variables' as *;

@mixin container {
  max-width: $container-width;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

@mixin section-padding {
  padding-block: $section-padding-y;
}

@mixin heading-underline {
  position: relative;
  padding-bottom: 0.75rem;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60px;
    height: 3px;
    background-color: $color-accent;
  }
}

@mixin up-to($width) {
  @media (max-width: $width) {
    @content;
  }
}
