@use './variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');


*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-base;
  color: $color-text;
  background-color: $color-bg-light;
  line-height: 1.6;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

main {
  background-color: $color-bg-light;
}
